<!doctype html>
<html>
    <head>
        <title>Question 6 - Listing des utilisateurs</title>
        <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <h1>Question 6 - Listing des utilisateurs</h1>
        <div><p>Vous devez d'abord créer la base et la remplir via la 
            <a href="{{ url_for('page_4') }}">Question 4</a></p></div>
        <p><a href="{{ url_for('homepage') }}"> Retourner à la page d'accueil </a></p>
    </body>
</html>